head
  title #{page.title} - #{locals.title}
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='//twitter.github.com/bootstrap/assets/css/bootstrap.css')
  link(rel='stylesheet', href='//twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css')
  style(type='text/css')
    body { padding-top: 60px; padding-bottom: 40px; }
    .sidebar-nav { padding: 9px 0; } 