div.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          a(data-toggle='collapse', data-target='.nav-collapse').btn.btn-navbar
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/').brand= locals.title
          ul.nav
            - var menu_items = _.chain(contents._.pages).sortBy(function(v){return v.metadata.menu.order}).value();
              - each item in menu_items
                - if (page.metadata.menu.title == item.metadata.menu.title)
                  li.active
                    a(href= item.url) #{item.metadata.menu.title}
                - else            
                  li
                    a(href= item.url) #{item.metadata.menu.title}