//le javascript
script(src='http://code.jquery.com/jquery.min.js')
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-alert.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-scrollspy.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-popover.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-button.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-carousel.js")
script(src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js")